@{
    ViewBag.Title = ConfigSetting.SiteName + "媒体资源";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
    var PriceListFilter = (List<LinkItem>)ViewBag.PriceListFilter;
    var DeadLineMonthFilter = (List<LinkItem>)ViewBag.DeadLineMonthFilter;
    var Sort = (QuerySort)ViewBag.Sort;
    var Query = (QueryTerm)ViewBag.Query;
    var Result = (QuerySource)ViewBag.Result;
}
<div class="nav-bread">
    <a class="nav-bread-home" href="/"><i class="icon-maitonn icon-home"></i></a>&gt;
        <strong>户外资源</strong>
</div>
<div class="list-wrap">
    <div class="list-search">
        @Html.Partial("_QueryTerm", (List<LinkGroup>)ViewBag.Search)
        <div class="list-result">
            <div class="list-filter clearfix">
                <div class="list-filter-top scroll-fixed clearfix">
                    <a  class="list-filter-sort list-filter-default @(Sort.SortDefault ? "selected" : "") mr10 " href="@ViewBag.DefaultOrderUrl">默认</a>
                    <a  class="list-filter-sort list-filter-up @(Sort.SortPriceAsc ? "selected" : "")" href="@ViewBag.PriceOrderAscUrl">价格<i class="icon-maitonn icon-arrow-up"></i></a>
                    <a  class="list-filter-sort list-filter-down @(Sort.SortPriceDesc ? "selected" : "") mr10" href="@ViewBag.PriceOrderDescUrl">价格<i class="icon-maitonn icon-arrow-down"></i></a>
                    <div class="list-dropdown">
                        <span class="list-dropdown-title">@PriceListFilter.Single(x => x.Selected.Equals(true)).Name</span>
                        <i class="icon-maitonn icon-caret-down"></i>
                        <ul class="list-dropdown-list">
                            @foreach (var item in PriceListFilter)
                            {
                                <li><a class="@(item.Selected ? "selected" : "")" href="@item.Url">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="list-dropdown">
                        <span class="list-dropdown-title">@DeadLineMonthFilter.Single(x => x.Selected.Equals(true)).Name</span>
                        <i class="icon-maitonn icon-caret-down"></i>
                        <ul class="list-dropdown-list">
                            @foreach (var item in DeadLineMonthFilter)
                            {
                                <li><a class="@(item.Selected ? "selected" : "")" href="@item.Url">@item.Name</a></li>
                            }
                        </ul>
                    </div>

                    <div class="list-filter-search">
                        <input type="text" id="query" name="query" class="list-filter-search-query" value="@Query.Query" maxlength="20" />
                        <button type="button" class="k-button" id="querybtn">
                            <i class="icon-search icon-maitonn "></i>
                        </button>
                    </div>


                </div>
                <div class="list-filter-bottom clearfix">
                    <div class="list-filter-menu">
                        <label>
                            <input type="checkbox" @(ViewBag.Authed ? "checked" : "")  class="list-check-url" data-v0="@ViewBag.NoAuthedUrl" data-v1="@ViewBag.AuthedUrl">证书认证</label>
                    </div>
                    <div class="list-filter-page-number">共&nbsp;<strong>@Result.TotalCount</strong>&nbsp;条</div>
                </div>
            </div>

            <div class="list-products list-search clearfix ">
                @{

                    foreach (var product in Result.Items)
                    {
                    <div class="products-item">
                        <div class="products-title">
                            <a class="products-title-links"  href="@Url.Action("show", "company", new { id = product.ID })" title="@(product.Name)" >
                                <strong>@(product.Name)</strong>  [@product.CityCateName.Replace(",", " - ")]
                            </a>
                            <div class="products-title-info">
                                <span class="mr5 ">媒体分类： @product.MediaCateName.Replace(",", " - ")</span>
                                <span class="mr5 ">表现形式： @(product.FormatName)</span>
                            </div>
                        </div>
                        <div class="products-img">
                            <div class="products-img-container">
                                <a href="@Url.Action("show", "company", new { id = product.ID })" title="@(product.Name)">
                                    <img alt="@(product.Name)" title="@(product.Name)" src="@product.FocusImgUrl" >
                                </a>
                            </div>
                        </div>
                        <div class="products-details">
                            @(product.Description.Length > 120 ? product.Description.Substring(0, 120) + "..." : product.Description)
                            <a class="fg-color-red"  href="@Url.Action("show", "company", new { id = product.ID })" >[详细]</a>
                        </div>
                        <div class="products-footer">
                            <div class="products-footer-company">
                                <a class="pull-left" href="@Url.Action("index", "company", new { id = product.MemberID })">@product.CompanyName</a>
                                <button class="k-button btn-compare mr10 " type="button"  data-title="@product.Name" data-value="@product.ID" >
                                    <i class="icon-maitonn icon-retweet"></i>对比方案</button>
                                <button class="k-button btn-addScheme  " type="button"  data-title="@product.Name"   data-value="@product.ID" ><i class="icon-maitonn icon-briefcase"></i>加入方案</button>
                            </div>
                            <span class="mr5 fg-color-gray">刊例：
                                    @if (product.Price == 99999)
                                    {
                                        <b class="fg-color-red">面议  </b>
                                    }
                                    else
                                    {
                                        <b class="fg-color-red">¥@product.Price 万元/年 </b>
                                    }
                            </span>
                            <span class="fg-color-gray">最短投放：<b class="fg-color-red">@(product.PeriodName)</b></span>
                            <span class="fg-color-gray">媒体档期：<b class="fg-color-red">@(product.DeadLine.CompareTo(DateTime.Now) > 0 ? product.DeadLine.ToString("yyyy-MM-dd") + "之后可售" : "可售")</b></span>
                        </div>
                    </div>
    
                    }
                }

            </div>
            @Html.MaitonnPage(new PagingInfo()
           {
               CurrentPage = ViewBag.Result.CurrentPage,
               ItemsPerPage = ViewBag.Result.PageSize,
               TotalItems = ViewBag.Result.TotalCount,
               ShowPageBox = true
           })
        </div>

        <div class="list-right">
            <div class="gray-box ">
                <h4>推荐户外企业公司</h4>
                <div class="gray-list ajax-content" data-url="@Url.Action("getsuggestCompany", "ajaxcontent")">
                    <div class="gary-loadding">
                        <img src="@Url.Content("~/Content/images/min-loading.gif")" />
                    </div>
                </div>
            </div>

            <div class="gray-box mt15">
                <h4>优质户外企业公司</h4>
                <div class="gray-list ajax-content" data-url="@Url.Action("getgoodCompany", "ajaxcontent")">
                    <div class="gary-loadding">
                        <img src="@Url.Content("~/Content/images/min-loading.gif")" />
                    </div>
                </div>
            </div>
        </div>
        <div class="media-compare-list" id="media-compare-list">
            <h3>方案对比<i class="icon-maitonn icon-remove media-compare-clear" title="清空"></i></h3>
            <div class="media-compare-button">
                <button type="button" class="k-button btn-jumpcompare">对比所选媒体</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#querybtn").click(function () {
            window.location.href = window.location.origin + window.location.pathname.replace(/p_(\d+)/, 'p_1') + "?query=" + encodeURIComponent($("#query").val());
        });
        $('#query').keydown(function (e) {
            if (e.keyCode == 13) {
                $("#querybtn").click();
            } else {
                if ($(this).val().length > 20) {
                    return false;
                }
            }
        });
        $('.list-dropdown').hover(function () {
            $(this).children("ul").show();
        }, function () {
            $(this).children("ul").hide();
        })
        $('.list-check-url').click(function () {
            var v0Url = $(this).data('v0');
            var v1Url = $(this).data('v1');
            if ($(this).prop('checked')) {
                window.location.href = v1Url;
            } else {
                window.location.href = v0Url;
            }
        })
        $('.btn-compare').on('click', $.proxy(Maitonn.JHelper.addCompare, Maitonn.JHelper));
        $('.btn-jumpcompare').on('click', $.proxy(Maitonn.JHelper.jumptoCompare, Maitonn.JHelper));

        $('#media-compare-list').on('click', 'i.media-compare-clear', $.proxy(Maitonn.JHelper.clearCompare, Maitonn.JHelper))
        $('#media-compare-list').on('click', 'i.media-compare-remove', $.proxy(Maitonn.JHelper.removeCompare, Maitonn.JHelper))
        Maitonn.JHelper.showCompare();
    })
</script>
