@{
    ViewBag.Title = ConfigSetting.SiteName + "媒体资源";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
    var PriceListFilter = (List<LinkItem>)ViewBag.PriceListFilter;
    var DeadLineMonthFilter = (List<LinkItem>)ViewBag.DeadLineMonthFilter;
    var Sort = (QuerySort)ViewBag.Sort;
    var Query = (QueryTerm)ViewBag.Query;
    var Result = (QuerySource)ViewBag.Result;
}
<div class="nav-bread">
    <a class="nav-bread-home" href="/"><i class="icon-maitonn icon-home"></i></a>&gt;
        <strong>资源列表</strong>
</div>
<div class="list-wrap">
    <div class="list-search">
        @Html.Partial("_QueryTerm", (List<LinkGroup>)ViewBag.Search)
        <div class="list-result">
            <div class="list-filter clearfix">
                <div class="list-filter-top scroll-fixed clearfix">
                    <a  class="list-filter-sort list-filter-default @(Sort.SortDefault ? "selected" : "") mr10 " href="@ViewBag.DefaultOrderUrl">默认</a>
                    <a  class="list-filter-sort list-filter-up @(Sort.SortPriceAsc ? "selected" : "")" href="@ViewBag.PriceOrderAscUrl">价格<i class="icon-maitonn icon-arrow-up"></i></a>
                    <a  class="list-filter-sort list-filter-down @(Sort.SortPriceDesc ? "selected" : "") mr10" href="@ViewBag.PriceOrderDescUrl">价格<i class="icon-maitonn icon-arrow-down"></i></a>
                    <div class="list-dropdown">
                        <span class="list-dropdown-title">@PriceListFilter.Single(x => x.Selected.Equals(true)).Name</span>
                        <i class="icon-maitonn icon-caret-down"></i>
                        <ul class="list-dropdown-list">
                            @foreach (var item in PriceListFilter)
                            {
                                <li><a class="@(item.Selected ? "selected" : "")" href="@item.Url">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="list-dropdown">
                        <span class="list-dropdown-title">@DeadLineMonthFilter.Single(x => x.Selected.Equals(true)).Name</span>
                        <i class="icon-maitonn icon-caret-down"></i>
                        <ul class="list-dropdown-list">
                            @foreach (var item in DeadLineMonthFilter)
                            {
                                <li><a class="@(item.Selected ? "selected" : "")" href="@item.Url">@item.Name</a></li>
                            }
                        </ul>
                    </div>

                    <div class="list-filter-search">
                        <input type="text" id="query" name="query" class="list-filter-search-query" value="" maxlength="20" />
                        <button type="button" class="k-button" id="querybtn">
                            <i class="icon-search icon-maitonn "></i>
                        </button>
                    </div>


                </div>
                <div class="list-filter-bottom clearfix">
                    <div class="list-filter-menu">
                        <label>
                            <input type="checkbox" @(ViewBag.Authed ? "checked" : "")  class="list-check-url" data-v0="@ViewBag.NoAuthedUrl" data-v1="@ViewBag.AuthedUrl">证书认证</label>
                    </div>
                    <div class="list-filter-page-number">共&nbsp;<strong>0</strong>&nbsp;条</div>
                </div>
            </div>

            <div class="list-products clearfix">
                @{

                    foreach (var item in Result.Items)
                    {

                    <div class="products-item">
                        <ul>
                            <li class="products-img">
                                <img alt="@(item.Name)" title="@(item.Name)" src="@item.FocusImgUrl" width="80" height="80" >
                            </li>
                            <li class="products-details">
                                <h3><a target="_blank" href="@Url.Action("index", "show", new { id = item.ID })" title="@(item.Name)" >
                                    <strong>@(item.Name)</strong>
                                </a>
                                </h3>
                                <div class="products-city">[@item.MediaCateName.Replace(',', '-')]</div>
                                <div class="products-city">[@(item.FormatName)]</div>

                                <div class="clearfix"></div>
                                <p class="products-desc">@item.Description</p>
                                <div class="products-info clearfix">

                                    <div class="products-city">[@item.CityCateName.Replace(',', '-')]</div>
                                    <div class="products-company">
                                        <a href="@Url.Action("index", "shop", new { id = item.MemberID })"  title="@item.CompanyName" target="_blank"><span>@item.CompanyName</span></a>&nbsp;
                                    </div>
                                </div>
                            </li>
                            <li class="products-price">
                                <span class="fg-color-red"><b>¥@item.Price 万元/年</b></span><br>
                                <span><b>最短投放：@(item.PeriodName)</b></span><br>
                                <a href="@Url.Action("contact", "shop", new { id = item.MemberID })" title="@item.CompanyName" target="_blank" >联系方式</a>
                            </li>
                        </ul>
                    </div>
    
                    }
                }

            </div>
            @Html.MaitonnPage(new PagingInfo()
           {
               CurrentPage = ViewBag.Result.CurrentPage,
               ItemsPerPage = ViewBag.Result.PageSize,
               TotalItems = ViewBag.Result.TotalCount,
               ShowPageBox = true
           })
        </div>

        <div class="list-right">
            <div class="gray-box ">
                <h4>推荐户外企业公司</h4>
                <div class="gray-list ajax-content" data-url="@Url.Action("getsuggestCompany", "ajaxcontent")">
                    <div class="gary-loadding">
                        <img src="@Url.Content("~/Content/images/min-loading.gif")" />
                    </div>
                </div>
            </div>

            <div class="gray-box mt15">
                <h4>优质户外企业公司</h4>
                <div class="gray-list ajax-content" data-url="@Url.Action("getgoodCompany", "ajaxcontent")">
                    <div class="gary-loadding">
                        <img src="@Url.Content("~/Content/images/min-loading.gif")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#querybtn").click(function () {
            window.location.href = window.location.origin + window.location.pathname.replace(/p_(\d+)/, 'p_1') + "?query=" + encodeURIComponent($("#query").val());
        });
        $('#query').keydown(function (e) {
            if (e.keyCode == 13) {
                $("#querybtn").click();
            } else {
                if ($(this).val().length > 20) {
                    return false;
                }
            }
        });
        $('.list-dropdown').hover(function () {
            $(this).children("ul").show();
        }, function () {
            $(this).children("ul").hide();
        })
        $('.list-check-url').click(function () {
            var v0Url = $(this).data('v0');
            var v1Url = $(this).data('v1');
            if ($(this).prop('checked')) {
                window.location.href = v1Url;
            } else {
                window.location.href = v0Url;
            }
        })
    })
</script>
