@model CompanyIndexViewModel
@{
    ViewBag.Title = Model.Name + "-广告资源";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}
<div class="company-brand">
    <img src="@Model.BannerImg" />
</div>
<div class="company-nav clearfix">
    <ul>
        <li><a href="@Url.Action("index", "company", new { id = Model.ID })" ><span>公司首页</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("intro", "company", new { id = Model.ID })"><span>公司简介</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("source", "company", new { id = Model.ID })"  class="selected"><span>广告资源</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("notice", "company", new { id = Model.ID })"><span>公司公告</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("contact", "company", new { id = Model.ID })"><span>联系方式</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("credentials", "company", new { id = Model.ID })"><span>相关证书</span></a></li>
    </ul>
</div>

<div class="bread-container">
    <div class="company-bread">
        <a class="company-bread-home" href="@Url.Action("index", "home")"><i class="icon-maitonn icon-home"></i></a>&gt;
        <a href="@Url.Action("index", new { id = Model.ID })">@Model.Name</a>&gt;
        <a href="@Url.Action("source", new { id = Model.ID })">广告资源</a>&gt;
        <strong>@Model.Links.Name</strong>
    </div>
</div>

<div class="company-container clearfix">
    <div class="company-left">
        <div class="m-body">
            <div class="m-header">
                <h3>公司介绍</h3>
            </div>
            <div class="m-content clearfix">
                <div class="info-body">
                    <div class="info-logo">
                        <a href="@Url.Action("index", new { id = Model.ID })" title="@Model.Name" >
                            <img src="@Model.LogoImg" alt="@Model.Name" /></a>
                    </div>
                    <a href="@Url.Action("intro", new { id = Model.ID })">@Model.Name</a>
                    <br />
                    <span class="fg-color-gray">联系人:</span> @Model.LinkMan @(Model.Sex ? "先生" : "女士")
                    <br />
                    <span class="fg-color-gray">所在地区:</span> @Model.CityName
                </div>
            </div>
        </div>

        <div class="m-body">
            <div class="m-header">
                <h3>产品分类</h3>
            </div>
            <div class="m-content clearfix">
                <ul class="m-list">
                    @foreach (var item in Model.Categories)
                    {
                        <li><a href="@Url.Action("source", new { id = Model.ID, c = item.Code })">@item.Name</a>
                            <span class="fg-color-gray">(@item.Count)</span></li>
                    }
                </ul>
            </div>
        </div>
        <div class="m-body">
            <div class="m-header">
                <h3>联系方式</h3>
            </div>
            <div class="m-content clearfix">
                <span class="fg-color-gray">联系人:</span> @Model.LinkMan @(Model.Sex ? "先生" : "女士")<br />
                <span class="fg-color-gray">电话:</span> @Model.Phone
                <br />
                <span class="fg-color-gray">手机:</span> @Model.Mobile
                <br />
                <span class="fg-color-gray">QQ:</span> @Model.QQ
                @if (Model.Lat != 0)
                {
                    <div id="map-contact" class="map-container">
                    </div>
                    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=497ff27739928a1aa7617446f02f6998"></script>
                    <script type="text/javascript">
                        $(function () {
                            var lat = '@Model.Lat';
                            var lng = '@Model.Lng';
                            var point = new BMap.Point(116.404, 39.915);
                            if (lng != '' && lng != '0' && lat != '0') {
                                point = new BMap.Point(new Number(lng), new Number(lat));
                            }
                            var map;
                            map = new BMap.Map("map-contact");
                            map.centerAndZoom(point, 16);
                            addMarker(point);
                            function addMarker(point) {
                                var myIcon = new BMap.Icon("http://api.map.baidu.com/img/markers.png", new BMap.Size(23, 25), {
                                    offset: new BMap.Size(0, 0),
                                    imageOffset: new BMap.Size(0, 0 - 10 * 25)
                                });
                                var marker = new BMap.Marker(point, { icon: myIcon });
                                map.addOverlay(marker);
                                return marker;
                            }
                        })
                    </script>
                }
            </div>
        </div>
    </div>
    <div class="company-right">
        <div class="m-body">
            <div class="m-header">
                <h3>@(Model.Links.Name)</h3>
            </div>
            <div class="m-content clearfix">
                <div class="media-content clearfix">
                    <div class="clearfix details-box">
                        <a href="javascript:;" id="litimgUp" class="details-scroll-btn details-scroll-up"><i class="icon-maitonn icon-chevron-left"></i></a>
                        <a href="javascript:;" id="litimgDown" class="details-scroll-btn   details-scroll-down "><i class="icon-maitonn icon-chevron-right"></i></a>
                        <div class=" details-info-show">
                            <a href="@UIHelper.GetImgUrl(Model.Links.ImgUrl.Split(',')[0], ImgUrlType.Img800)" class="jqzoom" rel='gal1'>
                                <img src="@UIHelper.GetImgUrl(Model.Links.ImgUrl.Split(',')[0], ImgUrlType.Img430)" width="305" height="305" >
                            </a>
                        </div>
                        <div class="details-info-box">
                            <ul id="thumblist" class="details-info-list">
                                @for (var i = 0; i < Model.Links.ImgUrl.Split(',').Length; i++)
                                {
                                    var imgurl = Model.Links.ImgUrl.Split(',')[i];
                                    <li class="@(i == 0 ? "zoomThumbActive" : "")">
                                        <a href="javascript:;" rel="{gallery:'gal1', smallimage:'@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img430)',largeimage:'@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img800)'}">
                                            <img src="@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img120)"></a></li>
                                }

                            </ul>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('.jqzoom').jqzoom({
                                zoomType: 'standard',
                                lens:true,
                                preloadImages: false,
                                alwaysOn:false,
                                preloadText:'加载中...',
                                zoomWidth:430,
                                zoomHeight:430
                            });
                            if($('#thumblist').children('li').length<4){
                                $('.details-scroll-btn').addClass('details-scroll-btn-disabled');
                            }
                            var currentIndex=0;
                            $('.details-scroll-btn').click(function(){
                                if($(this).hasClass('details-scroll-btn-disabled')){
                                    return false;
                                }else{
                                    var maxShowLength=4;
                                    var totalLength=@Model.Links.ImgUrl.Split(',').Length;
                                    var marginLeft=parseInt($('#thumblist').css('marginLeft'));
                                    var itemWidth=$('#thumblist').children('li').eq(0).outerWidth(true);
                                    if($(this).hasClass('details-scroll-up')){
                                        if(currentIndex+maxShowLength<totalLength){
                                            currentIndex++;
                                            $('#thumblist').css('marginLeft',(marginLeft-itemWidth)+'px');
                                        }
                                    }else{
                                        if(marginLeft!=0){
                                            currentIndex--;
                                            $('#thumblist').css('marginLeft',(marginLeft+itemWidth)+'px');
                                        }
                                    }
                                }
                            })
                        });
                    </script>
                    <dl class="details-info-content">
                        <dd>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：<span class="details-info-item">@Model.Links.CityCateName.Replace(",", " - ")</span></dd>
                        <dd>售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：<span class="details-info-item ">
                            @if (Model.Links.Price == 99999)
                            { 
                                <strong><b class="fg-color-red">面议</b></strong>
                            }
                            else
                            {
                                <strong>¥<b class="fg-color-red">@Model.Links.Price</b> 万元/年</strong>
                            }
                        </span></dd>
                        <dd>媒体类型：<span class="details-info-item">@Model.Links.MediaCateName.Replace(",", " - ")</span></dd>
                        <dd>最短投放：<span class="details-info-item">@Model.Links.PeriodName</span></dd>
                        <dd>媒体形式：<span class="details-info-item">@Model.Links.FormatName</span></dd>
                        <dd>区域属性：<span class="details-info-item">@Model.Links.AreaCate</span></dd>
                        <dd>受众人群：<span class="details-info-item">@Model.Links.CrowdCate</span></dd>
                        <dd>投放行业：<span class="details-info-item">@Model.Links.IndustryCate</span></dd>
                        <dd>投放目的：<span class="details-info-item">@Model.Links.PurposeCate</span></dd>
                        <dd>代理类型：<span class="details-info-item">@Model.Links.OwnerName</span> </dd>
                        <dd>媒体档期：@(Model.Links.DeadLine.CompareTo(DateTime.Now) > 0 ? Model.Links.DeadLine.ToString("yyyy-MM-dd") + "之后可售" : "可售")</dd>
                    </dl>
                </div>
                <div class="details-right">
                    <div class="details-nav">
                        <span class="active  details-goods" data-id="goods-details">媒体详情</span>
                        <span class="details-position" data-id="goods-position">位置信息</span>
                        <span class="details-credentials" data-id="goods-credentials">相关证书</span>
                        <span class="details-feedback" data-id="goods-feedback">留言咨询</span>
                        <a href="javascript:;" class="k-button btn-addscheme">
                            <i class="icon-briefcase "></i>&nbsp;&nbsp;加入方案</a>
                        <a href="javascript:;" class="k-button btn-favorite ">
                            <i class="icon-plus "></i>&nbsp;&nbsp;收藏</a>
                    </div>
                    <div class="goods" id="goods-details">
                        <h3 class="goods-head goods-intro"><i class="icon-maitonn icon-desktop"></i>媒体详情</h3>
                        <ul class="goods-params">
                            <li class="">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：<span>@Model.Links.CityCateName.Replace(",", " - ")</span></li>
                            <li class="">媒体类型：<span>@Model.Links.MediaCateName.Replace(",", " - ")</span></li>
                            <li class="goods-params-long">具体位置：<span>@Model.Links.Location</span></li>
                            <li class="">最短投放：<span>@Model.Links.PeriodName</span></li>
                            <li class="">媒体形式：<span>@Model.Links.FormatName</span></li>
                            <li class="goods-params-long">区域属性：<span>@Model.Links.AreaCate</span></li>
                            <li class="goods-params-long">受众人群：<span>@Model.Links.CrowdCate</span></li>
                            <li class="goods-params-long">投放行业：<span>@Model.Links.IndustryCate</span></li>
                            <li class="goods-params-long">投放目的：<span>@Model.Links.PurposeCate</span></li>
                            <li class="goods-params-long">媒体规格：@if (Model.Links.IsRegular)
                                                               { 
                                <span>@(Model.Links.Width)米*@(Model.Links.Width)米*@(Model.Links.Width)面=@(Model.Links.TotalArea)平方米</span>
                                                               }
                                                               else
                                                               {
                                                                   var areaParams = Model.Links.IrRegularArea.Split(',');



                                                               }</li>
                            <li class="">代理类型：<span>@Model.Links.OwnerName</span></li>
                            <li class="">媒体档期：<span>@(Model.Links.DeadLine.CompareTo(DateTime.Now) > 0 ? Model.Links.DeadLine.ToString("yyyy-MM-dd") + "之后可售" : "可售")</span></li>
                            @if (Model.Links.HasLight)
                            {
                                <li class="">照明情况：<span>
                                    @UIHelper.GetTime(Model.Links.LightStart.ToString())-@UIHelper.GetTime(Model.Links.LightEnd.ToString())
                                </span></li>
                            }
                            else
                            {
                                <li class="">照明情况：<span>无</span></li>
                            }
                            <li class="">日车流量：<span>@Model.Links.TrafficAuto 万辆</span></li>
                            <li class="">日人流量：<span>@Model.Links.TrafficPerson 万人</span></li>
                            <li class="goods-params-long">具体描述：<span>@Model.Description</span></li>
                        </ul>


                        @for (var i = 0; i < Model.Links.ImgUrl.Split(',').Length; i++)
                        {
                            var imgurl = Model.Links.ImgUrl.Split(',')[i];
                            <div class="goods-img-box">
                                <img src="@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img800)" />
                            </div>
                        }
                    </div>
                    <div class="goods-position" id="goods-position">
                        <h3 class="goods-head goods-packing"><i class="icon-maitonn icon-map-marker"></i>位置信息</h3>
                        <div class="goods-position-container">
                            <div id="goods-position-large" class="map-container">
                            </div>
                            <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=497ff27739928a1aa7617446f02f6998"></script>
                            <script type="text/javascript">
                                $(function () {
                                    var lat = '@Model.Links.Lat';
                                    var lng = '@Model.Links.Lng';
                                    var point = new BMap.Point(116.404, 39.915);
                                    if (lng != '' && lng != '0' && lat != '0') {
                                        point = new BMap.Point(new Number(lng), new Number(lat));
                                    }
                                    var map;
                                    map = new BMap.Map("goods-position-large");
                                    map.centerAndZoom(point, 16);
                                    map.addControl(new BMap.NavigationControl());               // 添加平移缩放控件
                                    map.addControl(new BMap.ScaleControl());                    // 添加比例尺控件
                                    map.addControl(new BMap.OverviewMapControl());
                                    addMarker(point);
                                    function addMarker(point) {
                                        var myIcon = new BMap.Icon("http://api.map.baidu.com/img/markers.png", new BMap.Size(23, 25), {
                                            offset: new BMap.Size(0, 0),
                                            imageOffset: new BMap.Size(0, 0 - 10 * 25)
                                        });
                                        var marker = new BMap.Marker(point, { icon: myIcon });
                                        map.addOverlay(marker);
                                        return marker;
                                    }
                                })
                            </script>
                        </div>
                    </div>
                    <div class="goods-credentials" id="goods-credentials">
                        <h3 class="goods-head goods-comment"><i class="icon-maitonn icon-credit-card"></i>相关证书</h3>
                        @if (!string.IsNullOrEmpty(Model.Links.CredentialsImg))
                        {
                            for (var i = 0; i < Model.Links.CredentialsImg.Split(',').Length; i++)
                            {
                                var imgurl = Model.Links.CredentialsImg.Split(',')[i];
                            <div class="goods-img-box">
                                <img src="@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img800)" />
                            </div>
                            }

                        }
                        else
                        {
                            <div class="goods-img-box">该媒体没有上传媒体证书</div>
                        }
                    </div>

                    <div class="goods-feedback" id="goods-feedback" data-show="1">
                        <h3 class="goods-head goods-feedback-bg"><i class="icon-maitonn icon-comment"></i>留言咨询</h3>
                        <div class="goods-feedback-container clearfix">
                            <div class="goods-feedback-tips">
                                <p class=" clearfix" style="">
                                    <span class="leftspan"><b>温馨提示：</b>您可以直接给媒体主留言！注意查看回复哦！</span>
                                    <span class="rightspan">
                                        <a href="javascript:;" class="k-button btn-feedback">
                                            <i class="icon-envelope icon-white"></i>&nbsp;&nbsp;留言咨询</a><br>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    @(Html.Kendo().Window().Name("Win-feedback")
            .Title("留言咨询-" + Model.Name)
            .Visible(false)
            .Modal(true)
            .Width(700)
            .Height(560)
            .Scrollable(true)
            .Content(@<text>
                    <div class="goods-feedback-comment">
                        <div class="goods-feedback-box zxDetail">
                            <dl name="tips_1" style="display: block;">
                                <dd>@(Model.Description.Length > 120 ? Model.Description.Substring(0, 120) + "..." : Model.Description)[<a href="@Url.Action("intro", "company", new { id = Model.ID })" class="z_f2">详细</a>]</dd>
                                <dd class="c_ba2636">联系地址：@Model.Address</dd>
                            </dl>
                        </div>
                        <div class="goods-feedback-product ">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td width="90" align="center"><a href="@Url.Action("show", "company", new { id = Model.Links.ID })" target="_blank">
                                            <img src="@Model.Links.FocusImgUrl" width="70" height="70" alt="@Model.Links.Name" title="@Model.Links.Name"></a></td>
                                        <td width="240" align="left" title="@Model.Links.Name"><a class="aC333" href="@Url.Action("show", "company", new { id = Model.Links.ID })" target="_blank">@Model.Links.Name
                                        </a></td>
                                        <td width="190" align="center">价格：
                                              @if (Model.Links.Price == 99999)
                                              { 
                                                  <strong class="fg-color-red"><b>面议</b></strong>
                                              }
                                              else
                                              {
                                                  <strong class="fg-color-red">¥<b>@Model.Links.Price</b> 万元/年</strong>
                                              }
                                        </td>
                                        <td align="left"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="goods-feedback-commbox">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <th valign="top" width="95" height="34"></th>
                                        <td valign="top" height="34"></td>
                                    </tr>
                                    <tr>
                                        <th valign="top">咨询内容：</th>
                                        <td>
                                            <textarea id="input-feedback" name="input-feedback" class="commentText"></textarea>
                                            <p class="txtTips zxBot">
                                                <span>10-300字之间，您还可以输入<strong class="c_red availWrite"> 300 </strong>个字</span>
                                            </p>
                                            <p class="txtTips zxError c_red" style="display: none;">
                                                <span>您多写了<strong class="c_red errorWrite"> 0 </strong>个字，精简一下吧！</span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <td><a class="k-button mt20" href="javascript:void(0);" id="submit-feedback"><strong>提交咨询</strong></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </text>)
)
                    @(Html.Kendo().Window().Name("Win-favorite")
            .Title("提示")
            .Visible(false)
            .Modal(true)
            .Width(500)
            .Scrollable(true)
            .Content(@<text>
                    <div class="alert">
                        <div class="image">
                            <img src="~/Content/images/icon/success.png" />
                        </div>
                        <div class="text">
                            <span class="jsmessage-text">收藏成功! <a href="@Url.Action("favorite", "personal")">查看我的收藏 &gt;&gt;</a></span>
                        </div>
                    </div>
                    </text>
            )
            )

                    @(Html.Kendo().Window().Name("Win-scheme-success")
            .Title("提示")
            .Visible(false)
            .Modal(true)
            .Width(500)
            .Scrollable(true)
            .Content(@<text>
                    <div class="alert">
                        <div class="image">
                            <img src="~/Content/images/icon/success.png" />
                        </div>
                        <div class="text">
                            <span class="jsmessage-text">加入方案成功! <a href="@Url.Action("index", "scheme")">管理我的方案 &gt;&gt;</a></span>
                        </div>
                    </div>
                    </text>
            )
            )

                    @(Html.Kendo().Window().Name("Win-scheme")
            .Title("加入方案")
            .Visible(false)
            .Modal(true)
            .Width(500)
            .Scrollable(true)
            .Content(@<text>
                    <div class="goods-feedback-product" id="goods-addscheme-info" style="margin: 0 auto">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="90" align="center"><a href="@Url.Action("show", "company", new { id = Model.Links.ID })" target="_blank">
                                        <img src="@Model.Links.FocusImgUrl" width="70" height="70" alt="@Model.Links.Name" title="@Model.Links.Name"></a></td>
                                    <td width="240" align="left" title="@Model.Links.Name"><a class="aC333" href="@Url.Action("show", "company", new { id = Model.Links.ID })" target="_blank">@Model.Links.Name
                                    </a></td>
                                    <td width="190" align="center">价格：
                                         @if (Model.Links.Price == 99999)
                                         { 
                                             <strong><b class="fg-color-red">面议</b></strong>
                                         }
                                         else
                                         {
                                             <strong>¥<b class="fg-color-red">@Model.Links.Price</b> 万元/年</strong>
                                         }
                                    </td>
                                    <td align="left"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </text>
            )
            )
                    <script type="text/javascript">
                        $(function() {
                            $('.details-nav').find('span').click(function() {
                                var targetids = $.map($('.details-nav').find('span'), function(item) { return $(item).data('id') });
                                var currentId = $(this).data('id');
                                $(this).addClass('active').siblings().removeClass('active');
                                $.each(targetids, function(index, item) {
                                    if (item === currentId || $('#' + item).data('show') === 1) {
                                        $('#' + item).show();
                                    } else {
                                        $('#' + item).hide();
                                    }
                                })
                            })
                            $('.btn-feedback').click(function() {
                                var kendoWindow = $('#Win-feedback').data('kendoWindow');
                                kendoWindow.center().open();
                            })
                            $('#input-feedback').keyup(function(e) {
                                if($(this).val().length>300){
                                    $('.zxBot').hide();
                                    $('.zxError').show();
                                    $('.zxError').find('.errorWrite').text($(this).val().length-300);
                                }else{
                                    $('.zxError').hide();
                                    $('.zxBot').show();
                                    $(this).next().find('.availWrite').text(300-$(this).val().length);
                                }
                            })
                            $('#submit-feedback').click(function() {

                                Maitonn.JHelper.checkLogin().done(function(isLogin){
                                    if(isLogin){
                                        if ($('#input-feedback').val().length > 300 || $('#input-feedback').val().length < 10) {
                                            alert('请输入10~300个字');
                                            return false;
                                        } 
                                        var id=@Model.ID,
                                            name='@Model.Links.ID',
                                            content=$('#input-feedback').val();
                                        $.ajax({
                                            type:'POST',
                                            url:'@Url.Action("addmessage", "ajaxservice")',
                                            data:{
                                                id:id,
                                                name:name,
                                                content:content
                                            },
                                            success:function(res){
                                                if (res.Success) {
                                                    var kendoWindow = $('#Win-feedback').data('kendoWindow');
                                                    kendoWindow.close();
                                                }
                                                Maitonn.JHelper.showMessage(res.Message);
                                            }
                                        });
                                
                                    }else{
                                        Maitton.JHelper.showPopLogin();
                                    }
                                })
                            });

                            $('.btn-favorite').click(function(e){
                                e.preventDefault();
                                Maitonn.JHelper.checkLogin().done(function(isLogin){
                                    if(isLogin){
                                        var mediaId='@Model.Links.ID';
                                        var kwindow=$('#Win-favorite').data('kendoWindow');
                                        Maitonn.JHelper.checkFavorite(mediaId).done(function(result){
                                            if(result.Success){
                                                Maitonn.JHelper.addFavorite(mediaId).done(function(res){
                                                    Maitonn.JHelper.showMessage(res);
                                                })
                                            }else{
                                                Maitonn.JHelper.showMessage(result);
                                            }
                                        })
                                    }else{
                                        Maitonn.JHelper.showPopLogin();
                                    }
                                });
                        
                            })

                            $('.btn-addscheme').click(function(e){
                                e.preventDefault();
                                Maitonn.JHelper.checkLogin().done(function(isLogin){
                                    if(isLogin){
                                        var mediaId='@Model.Links.ID';
                                        var price= @(Model.Links.Price == 99999 ? 0 : Model.Links.Price / 365);
                                        var kwindow=$('#Win-scheme').data('kendoWindow');
                                        if(!$('.goods-addscheme')[0]){
                                            Maitonn.JHelper.getSchemeForm().done(function(html){
                                                $('#goods-addscheme-info').after(html);
                                                Maitonn.JHelper.getMediaPeriodCode(mediaId).done(function(res){
                                                    $("#period").kendoDropDownList({
                                                        dataTextField: "Text",
                                                        dataValueField: "Value",
                                                        dataSource: res,
                                                        index: 0,
                                                        change:changePeriodCode
                                                    });
                                                })
                                                var today=new Date();
                                                $('[name="startTime"]').kendoDatePicker();
                                                var startTime= $('[name="startTime"]').data('kendoDatePicker');
                                                startTime.min(today);
                                                startTime.value(today);
                                                $('[name="number"]').kendoNumericTextBox({
                                                    "format":"n0",
                                                    "decimals":0,
                                                    "change":changePeriodCode,
                                                    "spin":changePeriodCode
                                                })
                                                var number= $('[name="number"]').data('kendoNumericTextBox');
                                                number.min(1);
                                                function changePeriodCode(){
                                                    var periodValue=$("#period").val();
                                                    var numberValue=number.value();
                                                    var $price=$('.goods-price').find('b');
                                                    $price.text((periodValue*numberValue*price).toFixed(2));
                                                    $('#price').val((periodValue*numberValue*price).toFixed(2));
                                                }

                                                $('[name="addtype"]').on('click',addtypeClick)

                                                $('#btn-comfirm-scheme').on('click',comfirmSchemeClick)
                                         
                                                $('#schemeName').on('keyup',CheckForm);
                                  
                                                $('#btn-cancle-scheme').on('click', function() {
                                                    $('#Win-scheme').data('kendoWindow').close();
                                                })

                                                changePeriodCode();
                                            })
                                        }
                                        setTimeout(function(){
                                            kwindow.center().open();
                                        },1000)

                                    }else{
                                        Maitonn.JHelper.showPopLogin();
                                    }
                                });
                            })

                            function addtypeClick(){
                                var value=$(this).val();
                                if(value==1){
                                    $('[name="schemeName"]').parents('.form-field').show();
                                    $('[name="schemeDescription"]').parents('.form-field').show();
                                    $('[name="schemeId"]').parents('.form-field').hide();
                                }else{
                                    if($(this).attr('disabled')=='disabled'){
                                    }else{
                                        $('[name="schemeName"]').parents('.form-field').hide();
                                        $('[name="schemeDescription"]').parents('.form-field').hide();
                                        $('[name="schemeId"]').parents('.form-field').show();
                                    }
                                }
                            }

                            function comfirmSchemeClick(){
                                if(CheckForm()){
                                    var mediaId=@Model.Links.ID;

                                    var addType=$('[name="addtype"]:checked').val();
                                    var kwindowSuccess=$('#Win-scheme-success').data('kendoWindow');
                                    var kwindow=$('#Win-scheme').data('kendoWindow');
                                    var data={};
                                    if(addType==1){
                                        data.schemeName=$('#schemeName').val();
                                        data.schemeDescription=$('#schemeDescription').val();
                                        data.schemeId=0;
                           
                                    }else{
                                        data.schemeName='';
                                        data.schemeDescription='';
                                        data.schemeId=$('#schemeId').val();
                                    }

                                    data.periodCode=parseInt($('#period').val());

                                    data.periodCount=parseInt($('#number').val());

                                    data.startTime=$('#startTime').val();
                          
                                    var endTime=new Date($('#startTime').val()).addDays(($('#number').val()*$('#period').val()));
                         
                                    data.endTime=endTime.format('yyyy/mm/dd');

                                    data.id=mediaId;

                                    data.price=$('#price').val();

                                    Maitonn.JHelper.addScheme(data).done(function(res){
                                        if(res.Success){
                                            kwindow.close();
                                            $('.goods-addscheme').remove();
                                            kwindowSuccess.center().open();
                                        }else{
                                            Maitonn.JHelper.showErrorMessage(res.Message);
                                        }
                                    })
                                }else{
                                    return false;
                                }
     
                            }

                            function CheckForm(){
                                var addType=$('[name="addtype"]:checked').val();
                                var $form_tips=$('.form_tips_error').find('span');
                                var validateErrors=[];
                                if(addType==1){
                                    var schemeName=$('#Name').val();
                                    if(schemeName==''){
                                        $form_tips.text('请填写方案名称');
                                        validateErrors.push('请填写方案名称');
                                    }else if(schemeName.length>30){
                                        $form_tips.text('方案名称最多30个字');
                                        validateErrors.push('方案名称最多30个字');
                                    }
                                }
                                if(validateErrors.length==0){
                                    $('.form_tips_error').hide();
                                }else{
                                    $('.form_tips_error').show();
                                    return false;
                                }
                                return validateErrors.length==0;
                            }
                        })
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

