@model CompanyIndexViewModel
@{
    ViewBag.Title = Model.Name + "-广告资源";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}
<div class="company-brand">
    <img src="@Model.BannerImg" />
</div>
<nav class="company-nav clearfix">
    <ul>
        <li><a href="@Url.Action("index", new { id = Model.ID })" ><span>公司首页</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("intro", new { id = Model.ID })"><span>公司简介</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("source", new { id = Model.ID })"  class="selected"><span>广告资源</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("notice", new { id = Model.ID })"><span>公司公告</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("contact", new { id = Model.ID })"><span>联系方式</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("credentials", new { id = Model.ID })"><span>相关证书</span></a></li>
    </ul>
</nav>

<div class="bread-container">
    <div class="company-bread">
        <a class="company-bread-home" href="@Url.Action("index", "home")"><i class="icon-maitonn icon-home"></i></a>&gt;
    <a href="@Url.Action("index", new { id = Model.ID })">@Model.Name</a>&gt;
    <strong>广告资源</strong>
    </div>
</div>

<div class="company-container clearfix">
    <div class="company-left">
        <div class="m-body">
            <div class="m-header">
                <h3>公司介绍</h3>
            </div>
            <div class="m-content clearfix">
                <div class="info-body">
                    <div class="info-logo">
                        <a href="@Url.Action("index", new { id = Model.ID })" title="@Model.Name" >
                            <img src="@Model.LogoImg" alt="@Model.Name" /></a>
                    </div>

                    <a href="@Url.Action("intro", new { id = Model.ID })">@Model.Name</a>
                    <br />
                    <span class="fg-color-gray">联系人:</span> @Model.LinkMan @(Model.Sex ? "先生" : "女士")
                    <br />
                    <span class="fg-color-gray">所在地区:</span> @Model.CityName
                </div>
            </div>
        </div>

        <div class="m-body">
            <div class="m-header">
                <h3>产品分类</h3>
            </div>
            <div class="m-content clearfix">
                <ul class="m-list">
                    @foreach (var item in Model.Categories)
                    {
                        <li><a href="@Url.Action("source", new { id = Model.ID, c = item.Code })">@item.Name</a>
                            <span class="fg-color-gray">(@item.Count)</span></li>
                    }
                </ul>
            </div>
        </div>
        <div class="m-body">
            <div class="m-header">
                <h3>联系方式</h3>
            </div>
            <div class="m-content clearfix">
                <span class="fg-color-gray">联系人:</span> @Model.LinkMan @(Model.Sex ? "先生" : "女士")<br />
                <span class="fg-color-gray">电话:</span> @Model.Phone
                <br />
                <span class="fg-color-gray">手机:</span> @Model.Mobile
                <br />
                <span class="fg-color-gray">QQ:</span> @Model.QQ
                @if (Model.Lat != 0)
                {
                    <div id="map-contact" class="map-container">
                        <img src="http://api.map.baidu.com/staticimage?center=@(Model.Lng),@(Model.Lat)&width=191&height=203&zoom=11&markers=@(Model.Lng),@(Model.Lat)" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="company-right">
        <div class="m-body">
            <div class="m-header">
                <h3>广告资源</h3>
            </div>
            <div class="m-content clearfix">
                <div class="company-category">
                    <ul>
                        @foreach (var item in Model.Categories)
                        {
                            <li><a href="@Url.Action("source", new { id = Model.ID, c = item.Code })">@item.Name</a>
                                <span class="fg-color-gray">(@item.Count)</span></li>
                        }
                    </ul>
                </div>


                <div class="list-products company-source clearfix">

                    @foreach (var product in Model.Sources.Items)
                    {
                        <div class="products-item">
                            <div class="products-title">
                                <a class="products-title-links"  href="@Url.Action("show", new { id = product.ID })" title="@(product.Name)" >
                                    <strong>@(product.Name)</strong>
                                </a>
                                <div class="products-title-info">
                                    <span class="mr5 ">媒体分类： @product.MediaCateName.Replace(",", " - ")</span>
                                    <span class="mr5 ">表现形式： @(product.FormatName)</span>
                                </div>
                            </div>
                            <div class="products-img">
                                <div class="products-img-container">
                                    <a href="@Url.Action("show", new { id = product.ID })" title="@(product.Name)">
                                        <img alt="@(product.Name)" title="@(product.Name)" src="@product.FocusImgUrl" >
                                    </a>
                                </div>
                            </div>
                            <div class="products-details">
                                @(product.Description.Length > 150 ? product.Description.Substring(0, 150) + "..." : product.Description)
                                <a class="fg-color-red"  href="@Url.Action("show", new { id = product.ID })" >[详细]</a>
                            </div>
                            <div class="products-footer">
                                <span class="mr5">所在城市: @product.CityCateName.Replace(",", " - ")</span>
                                <span class="mr5 fg-color-gray">刊例：
                                    @if (product.Price == 99999)
                                    {
                                        <b class="fg-color-red">面议  </b>
                                    }
                                    else
                                    {
                                        <b class="fg-color-red">¥@product.Price 万元/年 </b>
                                    }
                                </span>
                                <span class="fg-color-gray">最短投放：<b class="fg-color-red">@(product.PeriodName)</b></span>
                            </div>
                        </div>
                    }
                </div>
                @Html.MaitonnPage(new PagingInfo()
           {
               CurrentPage = Model.Sources.CurrentPage,
               ItemsPerPage = Model.Sources.PageSize,
               TotalItems = Model.Sources.TotalCount,
               ShowPageBox = false
           })
            </div>
        </div>
    </div>
</div>

