@model BizAuthViewModel
@{
    ViewBag.Title = "企业认证信息";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section topscripts{
    @Styles.Render("~/Content/kendo/2012.3.1114/css")
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.aspnetmvc.min.js")"></script>
    <script src="~/Scripts/kendo/2012.3.1114/cultures/kendo.culture.zh-CHS.min.js"></script>
    <script type="text/javascript">
        kendo.culture("zh-CHS");
    </script>
}



<div class="reg-content">
    <div class="main">

        <div class="main-title">
            <h6>
                <i class="icon-maitonn icon-caret-right"></i>完善认证信息</h6>
        </div>

        <div class="main-success mb20 mt20 ml60">
            <i class="icon-maitonn icon-ok-circle"></i>
            <p>
                <strong>恭喜</strong> ，您已成功注册成为@(ConfigSetting.SiteName)会员。完善认证信息，可以进行企业认证
            </p>
        </div>

        <div class="form-step">
            <ul class="form-step-list">
                <li>第一步：填写企业信息<em></em><i></i></li>
                <li class="current">第二步：填写认证信息<em></em><i></i></li>
                <li>第三步：邮箱验证<em></em><i></i></li>
                <li class="end">第四步：审核通过认证成功</li>
            </ul>
        </div>


        <div class="main-content">
            <div class="main-form ">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.EditorForModel()
                    <div class="form-field form-field-submit c_gray">
                        <button type="submit" class="btn btn-success mr20">
                            填好了，提交认证信息</button><a href="@Url.Action("ActiveEmail")">跳过此步，需要的时候再填</a>
                    </div>
                }
            </div>
        </div>
        <div class="main-form-info fg-color-gray" style="top: 230px;">
            <h3>成功认证将获得：</h3>
            <ul class="dot_list ml10">
                <li><i class="icon-maitonn icon-sign-blank"></i>获得信誉值</li>
                <li><i class="icon-maitonn icon-sign-blank"></i>发布的信息将更靠前</li>
                <li><i class="icon-maitonn icon-sign-blank"></i>更多搜索收录</li>
                <li><i class="icon-maitonn icon-sign-blank"></i>发布的信息的条目更多</li>
                <li><i class="icon-maitonn icon-sign-blank"></i>更大的图片空间</li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
