@model  PadSite.ViewModels.RegBizViewModel
@{
    ViewBag.Title = "企业用户注册";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section topscripts{
    @Styles.Render("~/Content/kendo/2012.3.1114/css")
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.aspnetmvc.min.js")"></script>
}

<div class="reg-content">
    <div class="main">
        <div class="main-title">
            <h6>
                <span class="icon-maitonn icon-caret-right"></span>注册企业会员</h6>
        </div>
        <div class="form-step">
            <ul class="form-step-list">
                <li class="current">第一步：填写企业信息<em></em><i></i></li>
                <li>第二步：填写认证信息<em></em><i></i></li>
                <li>第三步：邮箱验证<em></em><i></i></li>
                <li class="end">第四步：审核通过认证成功</li>
            </ul>
        </div>
        <span class="fg-color-gray " style="margin-left: 45px;">填写以下信息，即可使用国内最大的户外广告全产业链商务交易平台。( 已有帐号？请 <a href="/Login">登录</a> 后开通商务交易功能 )</span>

        <div class="main-form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.EditorForModel()
                <div class="form-field form-field-submit fg-color-gray mt10">
                    <button type="submit" class="btn btn-success mr20">
                        同意服务协议，提交注册</button>已有账号？<a href="/?tourl=">请登录</a>
                </div>
                <div class="form-field form-field-submit">
                    <a href="@Url.Action("index", "help", new { id = 5 })" target="_blank">查看《XX网网站服务条款》</a>
                    <div class="clearfix height20"></div>
                </div>
            }
        </div>

        <div class="main-form-info fg-color-gray">
            <h3>完善信息并绑定邮箱后，即可开通：</h3>
            <ul class="dot_list ml10">
                <li><i class="icon-maitonn icon-sign-blank"></i>发布媒体信息</li>
                <li><i class="icon-maitonn icon-sign-blank"></i>建立媒体展柜</li>
                <li><i class="icon-maitonn icon-sign-blank"></i>使用媒体推广</li>
                <li><i class="icon-maitonn icon-sign-blank"></i>建立媒体通讯录</li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
