@model  IEnumerable<CompanyCredentialsViewModel>
@{
    ViewBag.Title = "企业证书";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<div class="personal clearfix">

    @Html.Partial("_leftmenu")

    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <ul class="personal-tab clearfix">
                    <li><a href="@Url.Action("index")"><span>企业基本信息</span></a></li>
                    <li><a href="@Url.Action("contact")"><span>联系方式</span></a></li>
                    <li class="selected"><a href="@Url.Action("credentials")"><span>资质证书</span></a></li>
                </ul>
                <a class="k-button pull-right" style="margin-top:-30px" href="@Url.Action("addcredentials")">添加证书</a>
            </div>

            <div class="personal-form-tips">
                <i class="icon-maitonn icon-exclamation-sign"></i><strong>友情提醒:</strong>
                @CookieHelper.NickName ,请上传企业证书,方便大家了解你的企业。企业证书显示在商铺资质证书页面。
            </div>

            <div class="credentials-list">
                @foreach (var item in Model)
                {
                    <div class="credentials-item">
                        <img src="@UIHelper.GetImgUrl(item.ImgUrl, ImgUrlType.Img120)">
                        <p>@item.Name</p>
                        <div class="credentials-bar">
                            <a class="k-button k-button-icontext " href="@Url.Action("editcredentials", new { id = item.ID })"><span class="k-icon k-edit"></span>编辑</a>
                            <a class="k-button k-button-icontext " href="javascript:void(0);" onclick="Credentials.deleteSingle(this,@item.ID)"><span class="k-icon k-i-close"></span>删除</a>
                        </div>
                    </div>
                }
            </div>

        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var Credentials = {
            addSpinner: function (element) {
                var $spinner = $('<img class="ajax-working" src="@Url.Content("~/Content/images/min-loading.gif")" title="work...." />').appendTo($(element));
                $(element).addClass('disabled');
            },
            removeSpinner: function (element) {
                $(element).find('.ajax-working').remove();
                $(element).removeClass('disabled');
            },
            action: function (element, url, Id) {
                if ($(element).hasClass('disabled'))
                    return false;
                var self = this;
                if (Id) {
                    self.addSpinner(element);
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: { Id: Id },
                        success: function (res) {
                            if (res.Success) {
                                $(element).parents('.credentials-item').remove();
                                Maitonn.JHelper.showMessage(res);
                            }
                        },
                        complete: function () {
                            self.removeSpinner(element);
                        }
                    })
                } else {
                    alert('请选择要删除的证书');
                    return false;
                }
            },
            deleteSingle: function (element, id) {
                var self = this;
                var url = '@Url.Action("deletecredentials", "biz")';
                if (confirm("确认删除?")) {
                    self.action(element, url, id);
                }
            }
        }
    </script>


}