@model  CompanyCredentialsViewModel
@{
    ViewBag.Title = "编辑企业证书";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<div class="personal clearfix">
    @Html.Partial("_leftmenu")
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <ul class="personal-tab clearfix">
                    <li><a href="@Url.Action("index")"><span>企业基本信息</span></a></li>
                    <li><a href="@Url.Action("contact")"><span>联系方式</span></a></li>
                    <li class="selected"><a href="@Url.Action("credentials")"><span>资质证书</span></a></li>
                </ul>
            </div>
            <div class="personal-form-tips">
                <i class="icon-maitonn icon-exclamation-sign"></i><strong>友情提醒:</strong>
                @CookieHelper.NickName ,请上传企业证书,方便大家了解你的企业。企业证书显示在商铺资质证书页面。
            </div>

            <div class="personal-form  personal-form-credentials">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.EditorForModel()
                    <div class="form-field form-field-submit ">
                        <button type="submit" class="k-button ">
                            <i class="icon-maitonn icon-save"></i>
                            &nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                    </div>
                }
            </div>

        </div>

    </div>
</div>
