@{
    ViewBag.Title = "湖南户外广告交易平台-7980mt.com";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="search-box">

    <div class="input-wrapper">

        <input type="text" id="search" name="search" x-webkit-speech="" value="请输入搜索的关键字" class="fg-color-gray">

        <input type="button" value="搜索一下" id="btn-search" class="btn-search" onmousedown="this.className='btn-search btn-search-hover'" onmouseout="this.className='btn-search'">
    </div>
</div>
<!--
@ViewBag.Str

    -->

@section scripts{
    <script type="text/javascript">
        $(function () {
            var searchUrl = "list-0-0-0-0-0-0-0-0-0-0-p_1";
            $('.nav-block-item').hover(function () {
                var first = $(this).find('.full-block:first');
                first.removeClass('in').addClass('out');
                first.siblings().addClass('in').removeClass('out');
            }, function () {
                var first = $(this).find('.full-block:first');
                first.addClass('in').removeClass('out');
                first.siblings().removeClass('in').addClass('out');
            })

            function getBaseUrl() {
                //var deadline = deadlinelist.find('li.selected').data('value');
                //return searchUrl.replace('ss', deadline);
                return searchUrl;
            }

            $("#btn-search").click(function () {
                var self = this;
                var keywordInput = $('#search');
                var keywords = keywordInput.val();
                if (keywords === '') {
                    keywordInput.val('请输入搜索的关键字')
                    keywordInput.addClass('fg-color-gray')
                    return false;
                } else if (keywords === '请输入搜索的关键字') {
                    keywordInput.focus();
                    return false;
                } else {
                    window.location.href = getBaseUrl() + "?query=" + encodeURIComponent($("#search").val());
                }
            });

            $('#search').keydown(function (e) {
                var target = $(e.currentTarget);
                if (target.val() === '请输入搜索的关键字') {
                    target.val('');
                    target.removeClass('fg-color-gray')
                }
                if (e.keyCode && e.keyCode === 13) {
                    $("#btn-search").click();
                    return false;
                } else {
                    if ($(target).val().length > 20) {
                        return false;
                    }
                }
            });

            $('#search').focusin(function (e) {
                var target = $(e.currentTarget);
                if (target.val() === '请输入搜索的关键字') {
                    target.val('');
                    target.removeClass('fg-color-gray')
                }
                if (e.keyCode && e.keyCode === 13) {
                    $("#btn-search").click();
                    return false;
                }
            });

            $('#search').focusout(function (e) {
                var target = $(e.currentTarget);
                if (target.val() === '') {
                    target.val('请输入搜索的关键字')
                    target.addClass('fg-color-gray')
                }
            })
        })

    </script>
}
<div class="nav-block">
    @*  <div class="nav-block-item viewport-flip ">
        <a href="@Url.Action("index", "login")" class="full-block bg-color-pink flip in ">
            <i class="icon-maitonn icon-user"></i>
            <div class="content">注册/登录</div>
        </a>
        <a href="@Url.Action("index", "login")" class="full-block bg-color-pink flip out">
            <h4>十秒轻松注册</h4>
        </a>
    </div>*@

    @*  <div class="nav-block-item viewport-flip ">
        <a href="@Url.Action("index", "help")" class="full-block bg-color-blueDark flip in">
            <i class="icon-maitonn icon-list-alt"></i>
            <div class="content">公司简介</div>
        </a>
        <a href="@Url.Action("index", "help")" class="full-block bg-color-blueDark flip out">
            <h4>关于我们，了解我们</h4>
        </a>
    </div>*@
    <div class="nav-block-item viewport-flip ">
        <a href="@GetUrl(0, 1)" class="full-block bg-color-magenta flip in">
            <i class="icon-maitonn icon-road"></i>
            <div class="content">户外大牌</div>
        </a>
        <a href="@GetUrl(0, 1)" class="full-block bg-color-magenta flip out">
            <h4>户外大牌，至尊体现</h4>
        </a>
    </div>

    <div class="nav-block-item viewport-flip ">
        <a href="@GetUrl(0, 41)" class="full-block  bg-color-orange flip in">
            <i class="icon-maitonn icon-truck"></i>
            <div class="content">公共交通媒体</div>
        </a>
        <a href="@GetUrl(0, 41)" class="full-block bg-color-orange flip out">
            <h4>公共交通，移动视野</h4>
        </a>
    </div>
    <div class="nav-block-item viewport-flip ">
        <a href="@GetUrl(0, 51)" class="full-block bg-color-blue flip in">
            <i class="icon-maitonn icon-sitemap"></i>
            <div class="content">公共场所媒体</div>
        </a>
        <a href="@GetUrl(0, 51)" class="full-block  bg-color-blue flip out">
            <h4>公共场所，覆盖大众</h4>
        </a>
    </div>
    <div class="nav-block-item viewport-flip ">
        <a href="@GetUrl(0, 63)" class="full-block  bg-color-purple flip in">
            <i class="icon-maitonn icon-desktop"></i>
            <div class="content">LED大屏</div>
        </a>
        <a href="@GetUrl(0, 63)" class="full-block bg-color-purple flip out">
            <h4>LED，生活无处不在</h4>
        </a>

    </div>
    @*  <div class="nav-block-item viewport-flip ">
        <a href="@GetUrl(0, 64)" class="full-block bg-color-orangeDark flip in">
            <i class="icon-maitonn icon-th-large"></i>
            <div class="content">其他</div>
        </a>
        <a href="@GetUrl(0, 64)" class="full-block bg-color-orangeDark flip out">
            <h4>更多媒体，尽在7980</h4>
        </a>

    </div>*@

    <div class="nav-block-item viewport-flip ">
        <a href="@Url.Action("index", "fangan")" class="full-block bg-color-green flip in">
            <i class="icon-maitonn icon-paste"></i>
            <div class="content">方案制作</div>
        </a>
        <a href="@Url.Action("index", "fangan")" class="full-block  bg-color-green flip out">
            <h4>智能方案生成</h4>
        </a>
    </div>

    <div class="nav-block-item viewport-flip ">
        <a href="@Url.Action("index", "map")" class="full-block bg-color-pink flip in">
            <i class="icon-maitonn icon-globe"></i>
            <div class="content">地图搜索</div>
        </a>
        <a href="@Url.Action("index", "map")" class="full-block  bg-color-pink flip out">
            <h4>位置，地段一目了然</h4>
        </a>
    </div>
</div>


@helper GetUrl(int city, int mediacode)
{
    @Url.Action("index", "list", new
                             {
                                 province = 1,
                                 city = city,
                                 mediacode = mediacode,
                                 formatcode = 0,
                                 ownercode = 0,
                                 periodcode = 0,
                                 authstatus = 0,
                                 deadline = 0,
                                 price = 0,
                                 order = 0,
                                 descending = 0,
                                 page = 1

                             });  
}