<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    @Styles.Render("~/Content/source")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="top-nav">
        <div class="top-nav-wrap">
            <div class="top-nav-left">
                欢迎来到@(ConfigSetting.SiteName)！
                <a href="/login">请登录</a> <a href="/register">免费注册</a>
            </div>
            <ul class="top-nav-right">
                <li><a href="/">@(ConfigSetting.SiteName)首页</a>&nbsp;&nbsp;|</li>
                <li>
                    <div class="dropdown-box top-nav-dropdown-menu ">
                        <a class="top-nav-holder" target="_blank" href="/personal" rel="nofollow">我的@(ConfigSetting.SiteName)<i></i></a><b class="holderline">|</b>
                        <div class="dropdown-menu dropdown-menu-personal">
                            <i class="line"></i>
                            <a class="clearfix" target="_blank" href="/outdoor/add" rel="nofollow">
                                <span><i class="icon-maitonn icon-edit-sign"></i>发布信息</span></a>
                            <a class="clearfix" target="_blank" href="/personal" rel="nofollow">
                                <span><i class="icon-maitonn icon-cogs"></i>管理中心</span></a>
                            <a class="clearfix" target="_blank" href="/company" rel="nofollow">
                                <span><i class="icon-maitonn icon-credit-card"></i>企业入驻</span></a>
                        </div>
                    </div>
                </li>
                <li><a target="_blank" href="/register/openbiz">企业入驻</a>&nbsp;&nbsp;|</li>
                <li><a target="_blank" href="/help-5">用户帮助</a>&nbsp;&nbsp;</li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="header-bar"></div>
        <div class="header-logo">
            <img src="~/Content/images/logo.png" />
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
