@{
    var FormError = TempData["FormError"] ?? null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!--[if IE 7]>
      <link rel="stylesheet" href="netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css">
    <![endif]-->
    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/kendo/2012.3.1114/jquery.min.js"></script>
    @RenderSection("topscripts", required: false)
    @Scripts.Render("~/bundles/jquerycontrol")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div class="container">

        <div class="auth-header">
            <div class="auth-header-logo">
                <a href="@Url.Action("index", "home")" title="首页" class="auth-header-logo-img" >
                    <h1>@(ConfigSetting.SiteName)网</h1>
                </a>
                <span class="auth-header-title">| @ViewBag.Title</span>
            </div>

            <div class="auth-header-link">
                <a href="@Url.Action("index", "home")" target="_blank">首页</a> |
                <a href="@Url.Action("index", "help")"  target="_blank">帮助中心</a> |
                <a href="@Url.Action("index", "feedback")"  target="_blank">提点建议</a>
            </div>
        </div>

        @if (FormError != null)
        {
            <div class="auth-error">
                <i class="icon-maitonn icon-exclamation-sign auth-error-type"></i>
                <h6 class="auth-error-title">@(ViewBag.Title)发生错误</h6>
                <span class="auth-error-tips fg-color-gray">请尝试以下步骤如果还有问题请联系客户 <strong>0731-12312323</strong></span>
                <ul class="auth-error-list">
                    <li>点击<a href="@(Request.Url.ToString())">该链接</a>重新尝试表单填写！</li>
                    <li>复制网页地址，重新打开浏览器，输入地址</li>
                </ul>
            </div>
        }

        @RenderBody()

    </div>
    <div class="auth-footer">
        <a target="_blank" href="#">XXX</a> | 
        <a target="_blank" href="#">网站帮助</a> |
        <a target="_blank" href="#">会员注册</a> | 
        <a target="_blank" href="#">网站地图</a> | 
        <a target="_blank" href="#">联系我们</a> | 
        <a target="_blank" href="#">广告网址导航</a> | 
        <a target="_blank" href="#">网站律师</a> | 
        <a target="_blank" href="#">意见反馈</a><br>
        Copyright @@ 1996-2012 Dotaeye Corporation, All Rights Reserved<br>
        XXX技术支持客服服务热线：400-606-6969
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
