@helper GetUrl(int city, int mediacode)
{
    @Url.Action("index", "list", new
                             {
                                 province = 1,
                                 city = city,
                                 mediacode = mediacode,
                                 formatcode = 0,
                                 ownercode = 0,
                                 periodcode = 0,
                                 authstatus = 0,
                                 deadline = 0,
                                 price = 0,
                                 order = 0,
                                 descending = 0,
                                 page = 1

                             });  
}
<div class="top-menu-category">
    <h2>
        <strong>全部户外媒体</strong>
        <i class="icon-maitonn icon-category-arrow icon-chevron-sign-down"></i>
    </h2>
    <ul class="top-left-nav" style="display: none;">
        <li class="clearfix">
            <h3>
                <a href="@GetUrl(0, 1)" class="a_type"><i class="icon-maitonn icon-road"></i>户外大牌</a>
                <em style="display: none;">户外大牌</em>
            </h3>
            <div class="top-left-nav-sub clearfix">
                <span><a href="@GetUrl(0, 2)">市区大牌</a></span>
                <span><a href="@GetUrl(0, 3)">高速大牌</a></span>
            </div>
        </li>
        <li class="clearfix">
            <h3>
                <a href="@GetUrl(0, 81)" class="a_type"><i class="icon-maitonn icon-truck"></i>公共交通</a>
                <em style="display: none;">公共交通</em>
            </h3>
            <div class="top-left-nav-sub clearfix">
                <span><a href="@GetUrl(0, 82)">高铁</a></span>
                <span><a href="@GetUrl(0, 83)">航站楼</a></span>
                <span><a href="@GetUrl(0, 84)">市区公交</a></span>
            </div>
        </li>
        <li class="clearfix">
            <h3>
                <a href="@GetUrl(0, 85)" class="a_type"><i class="icon-maitonn icon-sitemap"></i>公共场所</a>
                <em style="display: none;">公共场所</em>
            </h3>
            <div class="top-left-nav-sub clearfix">
                <span><a href="@GetUrl(0, 86)">社区媒体</a></span>
            </div>
        </li>
        <li class="clearfix">
            <h3>
                <a href="@GetUrl(0, 87)" class="a_type"><i class="icon-maitonn icon-desktop"></i>LED大屏</a>
                <em style="display: none;">LED大屏</em>
            </h3>

        </li>
    </ul>
</div>
<iframe frameborder="0" class="top-menu-frame" scrolling="no" style="height: 420px; display: none;"></iframe>
<script type="text/javascript">
    $(function () {
        $('.top-menu-category').hover(function () {
            $(this).find('.icon-category-arrow')
                .addClass('icon-chevron-sign-down').removeClass('icon-chevron-sign-up')
                .end()
                .find('.top-left-nav')
                .show()
                .end()
                .next('.top-menu-frame').show();
        }, function () {
            $(this).find('.icon-category-arrow')
               .removeClass('icon-chevron-sign-down').addClass('icon-chevron-sign-up')
               .end()
               .find('.top-left-nav')
               .hide()
               .end()
               .next('.top-menu-frame').hide();
        })
    })
</script>
